:root {
  --grey: #5F6368;
  --blue: #1A73E8;
  --red: #D93025;
  --yellow: #E37400;
  --green: #1E8E3E;
  --pink: #D01884;
  --purple: #9334E6;
  --cyan: #007B83;
  --grey-light: #BDC1C6;
  --blue-light: #8AB4F8;
  --red-light: #F28B82;
  --yellow-light: #FDD663;
  --green-light: #81C995;
  --pink-light: #FF8BCB;
  --purple-light: #D7AEFB;
  --cyan-light: #78D9EC;
  --background-color: white;
  --background-light-color: #f0f0f0;
  --transparent-dark-color: #A0A0A010;
  --transparent-light-color: #d0d0d060;
  --neutral-color: #BDC1C6;
  --neutral-light-color: #f6f6f6;
  --text-color: #000008F0;
  --focus-color: #669DF6;
  --special-color: #1A73E8;
  --special-dark-color: #8DB9F4;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #292A2D;
    --background-light-color: #585a5f;
    --transparent-dark-color: #202020E0;
    --transparent-light-color: #80808080;
    --neutral-color: #d0d0d0;
    --neutral-light-color: #f0f0f0;
    --text-color: #eeeeffd0;
    --focus-color: #669DF6;
    --special-dark-color: #6f93c2;
    --special-color: #8AB4EA;
  }
}
.color-grey {
  --color: var(--grey);
  --color-light: var(--grey-light);
}
.color-blue {
  --color: var(--blue);
  --color-light: var(--blue-light);
}
.color-red {
  --color: var(--red);
  --color-light: var(--red-light);
}
.color-yellow {
  --color: var(--yellow);
  --color-light: var(--yellow-light);
}
.color-green {
  --color: var(--green);
  --color-light: var(--green-light);
}
.color-pink {
  --color: var(--pink);
  --color-light: var(--pink-light);
}
.color-purple {
  --color: var(--purple);
  --color-light: var(--purple-light);
}
.color-cyan {
  --color: var(--cyan);
  --color-light: var(--cyan-light);
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  padding: 1rem;
  min-width: 248px;
  --popover-width: calc(248px - 2rem);
}
:focus {
  outline-color: var(--focus-color);
}
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--transparent-dark-color);
  border-radius: 1rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
}
html {
  font-size: 16px;
  line-height: 1;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
button {
  cursor: pointer;
}
h2 {
  font-size: 2rem;
}
a {
  color: inherit;
  transition: color .2s ease-in-out;
}
a:hover, a:focus {
  color: var(--special-color)
}
.button {
  padding: .375rem 1rem;
  border: 1px solid var(--text-color);
  border-radius: .25rem;
  background-color: var(--transparent-dark-color);
  color: var(--special-color);
  font-weight: bold;
  transition: background-color .2s ease-in-out;
}
.button:hover, .button:focus {
  background-color: var(--background-color);
}
.popup-app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-actions {
  display: flex;
  gap: 1rem;
}
input[type=text] {
  padding: .375rem .25rem;
  width: 100%;
  font-size: inherit;
  box-shadow: 0 0 0 1px currentColor;
  background-color: var(--transparent-dark-color);
  color: var(--text-color);
  border-radius: .125rem;
  margin-top: .125rem;
}
.text-label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: .5rem;
}
.group-color-picker {
  display: flex;
  gap: .5rem;
}
.group-color-picker__input {
  display: inline-block;
  appearance: none;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  cursor: pointer;
}
.group-color-picker__input::before,
.group-color-picker__input::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: var(--color);
}
.group-color-picker__input::after {
  inset: .125rem;
  border: .125rem solid var(--background-color);
  transform: scale(0);
  transition: transform .1s ease-out;
}
.group-color-picker__input:checked::after {
  transform: scale(1);
}
.rule-fieldset {
  position: relative;
}
.rule-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.delete-button {
  position: absolute;
  top: -.25rem;
  right: -.25rem;
  width: 1.25rem;
  height: 1.25rem;
  color: var(--special-color);
  background: none;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  transition: all .2s ease-in-out;
}
.delete-button:hover,
.delete-button:focus{
  background-color: var(--red);
  color: var(--text-color);
}
.options-form {
  display: flex;
  flex-direction: column;
}
.rules-form {
  display: flex;
  flex-direction: column;
}
.rules-form__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.options__header {
  margin-bottom: 1rem;
}
.options__fieldset {
  display: flex;
  flex-direction: column;
}
.options__footer {
  text-align: right;
}
.options__form__row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.options__form__row .switch {
  flex-grow: 2;
}

.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  padding: .25rem;
}
.switch:hover {
  background-color: var(--transparent-light-color);
}
.switch:focus-within {
  box-shadow: 0 0 0 .125rem var(--special-color);
  background-color: var(--transparent-light-color);
}
.switch__input {
  appearance: none;
}
.switch__track {
  width: 2rem;
  height: .75rem;
  background-color: var(--neutral-color);
  border-radius: 2rem;
  position: relative;
  pointer-events: none;
  transition: all .2s ease-in-out;
  filter: light(1.25);
}
.switch__thumb {
  filter: light(0.75);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 1rem;
  width: 1rem;
  background-color: var(--neutral-light-color);
  border-radius: 1rem;
  transition: all .2s ease-in-out;
  box-shadow: 0 0 .125rem rgba(20,20,20,.4);
}
.switch--is-checked .switch__thumb {
  left: 100%;
  transform: translate(-100%, -50%);
  background-color: var(--special-color);
}
.switch--is-checked .switch__track {
  background-color: var(--special-dark-color);
}
.switch__label__inner {
  margin-left: .5rem;
  user-select: none;
}
.options__wrapper {
  display: flex;
  justify-content: center;
}
.options-body {
  gap: 2rem;
  display: grid;
  grid-template-columns: auto auto;
}
.reorder-section {
  grid-column: span 2;
}
.reorder-section__header {
  margin-bottom: 1rem;
}
h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
.info-popover {
  position: relative;
}
.info-popover__target {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 50%;
  cursor: help;
  background-color: var(--neutral-color);
  color: var(--background-color);
  transition: background-color .2s ease-in-out;
  font-size: .75rem;
}
.info-popover__target:focus {
  background-color: var(--special-color);
}
.info-popover__target:focus + .info-popover__content,
.info-popover__target:hover + .info-popover__content,
.info-popover__content:hover,
.info-popover__content:focus-within {
  pointer-events: all;
  clip-path: polygon(
      calc(0% - 1rem) calc(0% - 1rem),
      calc(100% + 1rem) calc(0% - 1rem),
      calc(100% + 1rem) calc(100% + 1rem),
      calc(0% - 1rem) calc(100% + 1rem)
  );
}

.info-popover__content {
  clip-path: polygon(
      calc(0% - 1rem) calc(0% - 1rem),
      calc(100% + 1rem) calc(0% - 1rem),
      calc(100% + 1rem) calc(0% - 1rem),
      calc(0% - 1rem) calc(0% - 1rem)
  );
  transition: clip-path .2s ease-in-out;
  pointer-events: none;
  position: absolute;
  top: 100%;
  margin-top: .5rem;
  right: 0;
  z-index: 20;
  width: var(--popover-width);
  padding: .5rem;
  background-color: var(--background-light-color);
  box-shadow: 0 .25rem .25rem rgba(20,20,20,.3);
  border-radius: .125rem;
}
.info-popover__content::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: .125rem;
  width: 0;
  height: 0;
  border: .5rem solid transparent;
  border-bottom-color: var(--background-light-color);
}
.rule-orderer {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  max-width: 512px;
}
.rule-orderer--dragging {
  cursor: grabbing;
}
.rule-orderer.rule-orderer--dragging * {
  cursor: inherit;
}
.rule-orderer__item {
  cursor: grab;
  user-select: none;
  -webkit-user-drag: none;
  transition: transform .2s ease-in-out;
}
.rule-orderer__item--dragging {
  background-color: var(--transparent-light-color);
  border-radius: .25rem;
  width: calc(var(--drag-width) * 1px);
  height: calc(var(--drag-height) * 1px);
}
.rule-orderer__item--keyboard-dragging {
  font-weight: bold;
  transform: translateY(-0.5rem);
  box-shadow: 0 .5rem 1rem rgba(20,20,20,.6);
}
.rule-orderer__item * {
  pointer-events: none;
}
.rule-orderer__item__inner {
  padding: .375rem .5rem;
  color: #202020e0;
  background-color: var(--color-light);
  border-radius: .25rem;
}
:root {
  --client-x: 0;
  --client-y: 0;
  --movement-x: 0;
  --movement-y: 0;
  --offset-x: 0;
  --offset-y: 0;
  --drag-width: 0;
  --drag-height: 0;
}
.rule-orderer__item--dragging > .rule-orderer__item__inner {
  pointer-events: none;
  position: absolute;
  box-shadow: 0 .5rem 1rem rgba(20,20,20,.4);
  left: calc((var(--client-x) - var(--offset-x)) * 1px);
  top: calc((var(--client-y) - var(--offset-y)) * 1px);
  width: calc(var(--drag-width) * 1px);
  height: calc(var(--drag-height) * 1px);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}