:root {
  --grey: #dadce0;
  --blue: #8ab4f8;
  --red: #f28b82;
  --yellow: #fdd663;
  --green: #81c995;
  --pink: #ff8bcb;
  --purple: #c58af9;
  --cyan: #78d9ec;
  --orange: #fcad70;

  --background-color: white;
  --background-light-color: #f0f0f0;
  --transparent-dark-color: #a0a0a040;
  --transparent-light-color: #d0d0d060;
  --background-light-color: #ffffff;
  --neutral-color: #bdc1c6;
  --neutral-dark-color: #838483;
  --neutral-light-color: #f6f6f6;
  --text-color: #000008d0;
  --focus-color: #1a73e8;
  --special-light-color: #1a73e8;
  --special-color: #00639b;
  --special-dark-color: #8db9f4;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1f1f1f;
    --background-light-color: #2f3033;
    --transparent-dark-color: #202020e0;
    --transparent-light-color: #80808080;
    --background-light-color: #292a2d;
    --neutral-color: #444746;
    --neutral-light-color: #8e918f;
    --neutral-dark-color: #757977;
    --text-color: #eeeeffd0;
    --focus-color: #669df6;
    --special-dark-color: #062e6f;
    --special-color: #00639b;
    --special-light-color: #a8c7fa;
  }
}
.color-grey {
  --color: var(--grey);
}
.color-blue {
  --color: var(--blue);
}
.color-red {
  --color: var(--red);
}
.color-yellow {
  --color: var(--yellow);
}
.color-green {
  --color: var(--green);
}
.color-pink {
  --color: var(--pink);
}
.color-purple {
  --color: var(--purple);
}
.color-cyan {
  --color: var(--cyan);
}
.color-orange {
  --color: var(--orange);
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  padding: 1rem;
  min-width: max-content;
  --popover-width: calc(276px - 2rem);
  --pill: 1024px;
  border: none;
}
:focus {
  outline-color: var(--focus-color);
}
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--transparent-dark-color);
  border-radius: 1rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
}
html {
  font-size: 16px;
  line-height: 1;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
button {
  cursor: pointer;
}
h2 {
  font-size: 1rem;
  font-weight: normal;
}
a {
  color: inherit;
  transition: color 0.2s ease-in-out;
}
a:hover,
a:focus {
  color: var(--special-light-color);
}
.button {
  border: 1px solid var(--special-color);
  border-radius: var(--pill);
  background-color: transparent;
  color: var(--special-light-color);
  font-weight: bold;
  transition: background-color 0.1s ease-in-out;
  font-size: 0.8125rem;
  padding: 0.625rem 1rem 0.5625rem;
}
.button:hover {
  background-color: var(--transparent-light-color);
}
.button:active {
  background-color: var(--transparent-dark-color);
}
.button:focus {
  outline-offset: 0.1875rem;
}
@media (prefers-color-scheme: dark) {
}
.popup-app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-actions {
  display: flex;
  gap: 0.75rem;
}
input[type="text"] {
  padding: 0.625rem 0.5rem;
  width: 100%;
  font-size: 0.75rem;
  box-shadow: 0 0 0 1px var(--neutral-dark-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  margin-top: 0.375rem;
}
input[type="text"]:focus {
  box-shadow: 0 0 0 2px var(--focus-color);
}
@media (prefers-color-scheme: dark) {
  input[type="text"] {
    box-shadow: 0 0 0 1px var(--transparent-light-color);
    background-color: var(--transparent-dark-color);
  }
}
.text-label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 0.75rem;
}
.group-color-picker {
  display: flex;
  gap: 0.5rem;
}
.group-color-picker__input {
  display: inline-block;
  appearance: none;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  cursor: pointer;
}
.group-color-picker__input::before,
.group-color-picker__input::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: var(--color);
}
.group-color-picker__input::after {
  inset: 0.125rem;
  border: 0.125rem solid var(--background-color);
  transform: scale(0);
  transition: transform 0.1s ease-out;
}
.group-color-picker__input:checked::after {
  transform: scale(1);
}
.rule-fieldset {
  position: relative;
}
.rule-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.delete-button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  color: var(--special-light-color);
  background: none;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.delete-button:hover,
.delete-button:focus {
  background-color: var(--red);
  color: var(--text-color);
}
.options-form {
  display: flex;
  flex-direction: column;
}
.rules-form {
  display: flex;
  flex-direction: column;
}
.rules-form__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.75rem;
}
.options__header {
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}
.options__fieldset {
  display: flex;
  flex-direction: column;
}
.options__footer {
  margin-top: 0.5rem;
  text-align: right;
}
.options__form__row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.options__form__row .switch {
  flex-grow: 2;
}

.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  padding: 0.25rem;
  transition: background-color 0.1s ease-in-out;
}
.switch:hover {
  background-color: var(--transparent-light-color);
}
.switch:focus-within {
  box-shadow: 0 0 0 0.125rem var(--special-light-color);
  background-color: var(--transparent-light-color);
}
.switch__input {
  appearance: none;
}
.switch__track {
  width: 1.625rem;
  height: 1rem;
  background-color: var(--neutral-color);
  border-radius: 2rem;
  position: relative;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  filter: light(1.25);
  border: 1px solid var(--neutral-dark-color);
}
.switch__thumb {
  filter: light(0.75);
  position: absolute;
  left: 0.125rem;
  top: 50%;
  transform: translate(0, -50%);
  height: 0.625rem;
  width: 0.625rem;
  background-color: var(--neutral-dark-color);
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 0.125rem rgba(20, 20, 20, 0.4);
}
.switch--is-checked .switch__thumb {
  left: calc(100% - 0.125rem);
  transform: translate(-100%, -50%);
  background-color: var(--neutral-light-color);
  height: 0.75rem;
  width: 0.75rem;
}
.switch--is-checked .switch__track {
  background-color: var(--special-light-color);
  border-color: var(--special-light-color);
}
@media (prefers-color-scheme: dark) {
  .switch__track {
    border: 1px solid var(--neutral-light-color);
  }
  .switch__thumb {
    background-color: var(--neutral-light-color);
  }
  .switch--is-checked .switch__thumb {
    background-color: var(--background-light-color);
  }
}
.switch__label__inner {
  margin-left: 0.5rem;
  user-select: none;
}
.options__wrapper {
  display: flex;
  justify-content: center;
}
.options-body {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
hr {
  border-bottom: 1px solid var(--grey-light);
}
.reorder-section {
  grid-column: span 2;
}
.reorder-section__header {
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
.info-popover {
  position: relative;
}
.info-popover__target {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 50%;
  cursor: help;
  background-color: var(--neutral-dark-color);
  color: var(--background-color);
  transition: background-color 0.2s ease-in-out;
  font-size: 0.75rem;
}
.info-popover__target:focus {
  background-color: var(--special-light-color);
}
.info-popover__target:focus + .info-popover__content,
.info-popover__target:hover + .info-popover__content,
.info-popover__content:hover,
.info-popover__content:focus-within {
  pointer-events: all;
  clip-path: polygon(
    calc(0% - 1rem) calc(0% - 1rem),
    calc(100% + 1rem) calc(0% - 1rem),
    calc(100% + 1rem) calc(100% + 1rem),
    calc(0% - 1rem) calc(100% + 1rem)
  );
}

.info-popover__content {
  clip-path: polygon(
    calc(0% - 1rem) calc(0% - 1rem),
    calc(100% + 1rem) calc(0% - 1rem),
    calc(100% + 1rem) calc(0% - 1rem),
    calc(0% - 1rem) calc(0% - 1rem)
  );
  transition: clip-path 0.2s ease-in-out;
  pointer-events: none;
  top: 100%;
  margin-top: 0.5rem;
  right: 0;
  z-index: 20;
  width: var(--popover-width);
  padding: 0.5rem;
  background-color: var(--transparent-dark-color);
  box-shadow: 0 0.25rem 0.25rem rgba(20, 20, 20, 0.3);
  border-radius: 0.125rem;
  position: absolute;
}
.info-popover__content,
.info-popover__content::before {
  backdrop-filter: blur(0.5rem);
}
.info-popover__content::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0.125rem;
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-bottom-color: var(--transparent-dark-color);
}
@media (prefers-color-scheme: dark) {
  .info-popover__content {
    background-color: var(--transparent-light-color);
  }
  .info-popover__content::before {
    border-bottom-color: var(--transparent-light-color);
  }
}
.rule-orderer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  max-width: 512px;
}
.rule-orderer--dragging {
  cursor: grabbing;
}
.rule-orderer.rule-orderer--dragging * {
  cursor: inherit;
}
.rule-orderer__item {
  cursor: grab;
  user-select: none;
  -webkit-user-drag: none;
  transition: transform 0.2s ease-in-out;
}
.rule-orderer__item--dragging {
  background-color: var(--transparent-light-color);
  border-radius: 0.25rem;
  width: calc(var(--drag-width) * 1px);
  height: calc(var(--drag-height) * 1px);
}
.rule-orderer__item--keyboard-dragging {
  font-weight: bold;
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(20, 20, 20, 0.6);
}
.rule-orderer__item * {
  pointer-events: none;
}
.rule-orderer__item__inner {
  padding: 0.375rem 0.5rem;
  color: #202020e0;
  background-color: var(--color);
  border-radius: 0.25rem;
  max-width: 16rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
:root {
  --client-x: 0;
  --client-y: 0;
  --movement-x: 0;
  --movement-y: 0;
  --offset-x: 0;
  --offset-y: 0;
  --drag-width: 0;
  --drag-height: 0;
}
.rule-orderer__item--dragging > .rule-orderer__item__inner {
  pointer-events: none;
  position: absolute;
  box-shadow: 0 0.5rem 1rem rgba(20, 20, 20, 0.4);
  left: calc((var(--client-x) - var(--offset-x)) * 1px);
  top: calc((var(--client-y) - var(--offset-y)) * 1px);
  width: calc(var(--drag-width) * 1px);
  height: calc(var(--drag-height) * 1px);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.error-message {
  color: var(--red);
  border-left: 0.5rem solid var(--red-light);
  padding: 0.5rem;
}

.panel {
  background-color: var(--background-light-color);
  border-radius: 0.5rem;
  box-shadow:
    rgba(0 0 0 / 0.3) 0px 1px 2px 0px,
    rgba(0 0 0 / 0.15) 0px 2px 6px 2px;
  padding: 0.75rem 1rem;
}

.debug {
  box-shadow: 0 0 0 1px crimson inset;
}
