:root {
  --grey: #5F6368;
  --blue: #1A73E8;
  --red: #D93025;
  --yellow: #E37400;
  --green: #1E8E3E;
  --pink: #D01884;
  --purple: #9334E6;
  --cyan: #007B83;
  --background-color: white;
  --transparent-dark-color: #A0A0A010;
  --transparent-light-color: #d0d0d060;
  --neutral-color: #BDC1C6;
  --neutral-light-color: #f6f6f6;
  --text-color: #000008F0;
  --focus-color: #669DF6;
  --special-color: #1A73E8;
  --special-dark-color: #8DB9F4;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #292A2D;
    --transparent-dark-color: #202020E0;
    --transparent-light-color: #80808080;
    --neutral-color: #d0d0d0;
    --neutral-light-color: #f0f0f0;
    --text-color: #eeeeffd0;
    --focus-color: #669DF6;
    --special-dark-color: #6f93c2;
    --special-color: #8AB4EA;

  }
}
.color-grey {
  --color: var(--grey);
}
.color-blue {
  --color: var(--blue);
}
.color-red {
  --color: var(--red);
}
.color-yellow {
  --color: var(--yellow);
}
.color-green {
  --color: var(--green);
}
.color-pink {
  --color: var(--pink);
}
.color-purple {
  --color: var(--purple);
}
.color-cyan {
  --color: var(--cyan);
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  padding: 1rem;
  min-width: 220px;
}
:focus {
  outline-color: var(--focus-color);
}
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--transparent-dark-color);
  border-radius: 1rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
}
html {
  font-size: 16px;
  line-height: 1;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
button {
  cursor: pointer;
}
h2 {
  font-size: 2rem;
}
.button {
  padding: .375rem 1rem;
  border: 1px solid var(--text-color);
  border-radius: .25rem;
  background-color: var(--transparent-dark-color);
  color: var(--special-color);
  font-weight: bold;
  transition: background-color .2s ease-in-out;
}
.button:hover, .button:focus {
  background-color: var(--background-color);
}
.popup-app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-actions {
  display: flex;
  gap: 1rem;
}
input[type=text] {
  padding: .375rem .25rem;
  width: 100%;
  font-size: inherit;
  box-shadow: 0 0 0 1px currentColor;
  background-color: var(--transparent-dark-color);
  color: var(--text-color);
  border-radius: .125rem;
  margin-top: .125rem;
}
.text-label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: .5rem;
}
.group-color-picker {
  display: flex;
  gap: .5rem;
}
.group-color-picker__input {
  display: inline-block;
  appearance: none;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  cursor: pointer;
}
.group-color-picker__input::before,
.group-color-picker__input::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: var(--color);
}
.group-color-picker__input::after {
  inset: .125rem;
  border: .125rem solid var(--background-color);
  transform: scale(0);
  transition: transform .1s ease-out;
}
.group-color-picker__input:checked::after {
  transform: scale(1);
}
.rule-fieldset {
  position: relative;
}
.rule-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.delete-button {
  position: absolute;
  top: -.25rem;
  right: -.25rem;
  width: 1.25rem;
  height: 1.25rem;
  color: var(--special-color);
  background: none;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  transition: all .2s ease-in-out;
}
.delete-button:hover,
.delete-button:focus{
  background-color: var(--red);
  color: var(--text-color);
}
.options-form {
  display: flex;
  flex-direction: column;
}
.rules-form {
  display: flex;
  flex-direction: column;
}
.rules-form__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.options__header {
  margin-bottom: 1rem;
}
.options__fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  padding: .25rem;
}
.switch:hover {
  background-color: var(--transparent-light-color);
}
.switch:focus-within {
  box-shadow: 0 0 0 .125rem var(--special-color);
  background-color: var(--transparent-light-color);
}
.switch__input {
  appearance: none;
}
.switch__track {
  width: 2rem;
  height: .75rem;
  background-color: var(--neutral-color);
  border-radius: 2rem;
  position: relative;
  pointer-events: none;
  transition: all .2s ease-in-out;
  filter: light(1.25);
}
.switch__thumb {
  filter: light(0.75);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 1rem;
  width: 1rem;
  background-color: var(--neutral-light-color);
  border-radius: 1rem;
  transition: all .2s ease-in-out;
  box-shadow: 0 0 .25rem rgba(20,20,20,.4);
}
.switch--is-checked .switch__thumb {
  left: 100%;
  transform: translate(-100%, -50%);
  background-color: var(--special-color);
}
.switch--is-checked .switch__track {
  background-color: var(--special-dark-color);
}
.switch__label__inner {
  margin-left: .5rem;
  user-select: none;
}
.options__wrapper {
  display: flex;
  justify-content: center;
}
.options-body {
  gap: 2rem;
  display: flex;
}
h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}